<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <style type="text/css">
   table {
    background: grey; /* Цвет фона таблицы */
    color: #18DFB1; /* Цвет текста */
   }
   th {
    background: #221C29; 
    text-align: left;
    color: #6EDE23;
   }
   td {
    background: #221C29; 
   }
  </style>
 </head>
 <body>
  <table border="0" width="100%" cellpadding="2" cellspacing="1">
   <tr>
    <th></th>
    <th>Coin</th>
    <th>USD</th>
    <th>RUB</th>
    <th>BTC</th>
   </tr>
   <tr>
      <td> <img src="file:/D:/Info/Python/crypto/img/btc.png"> </td>
      <td> {{ btc }} </td>
      <td> {{ btc_usd }} $ </td>
      <td> {{ btc_rub }} rub </td>
   </tr>
   <tr><td>ETH</td><td>{{eth}}</td><td>{{eth_usd}} $</td><td>{{eth_rub}} rub</td></tr>
   <tr><td>ETC</td><td>{{etc}}</td><td>{{etc_usd}} $</td><td>{{etc_rub}} rub</td></tr>
   <tr><td>HUSH</td><td>{{hush}}</td><td>{{hush_usd}} $</td><td>{{hush_rub}} rub</td></tr>
   <tr><td>KMD</td><td>{{kmd}}</td><td>{{kmd_usd}} $</td><td>{{kmd_rub}} rub</td></tr>
   <tr><td>XVG</td><td>{{xvg}}</td><td>{{xvg_usd}} $</td><td>{{xvg_rub}} rub</td></tr>
   <tr><td>XMR</td><td>{{xmr}}</td><td>{{xmr_usd}} $</td><td>{{xmr_rub}} rub</td></tr>
   <tr><td>ZEC</td><td>{{zec}}</td><td>{{xec_usd}} $</td><td>{{zec_rub}}rub</td></tr>
   <tr><td>ZCL</td><td>{{zcl}}</td><td>{{zcl_usd}} $</td><td>{{zcl_rub}} rub</td></tr>
  </table>
 </body>
</html>