
<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/style1.css">
 </head>
<body>
<table>
<tr>
  <th colspan="2">Монета</th>
  <th>Количество</th>
  <th>Стоимость в USD</th>
  <th>Стоимость в RUB</th>
  <th>Стоимость в BTC</th>
</tr>
  {% for coin in balance %}       
    <tr>
      <td><img src="/static/img/{{ coin[0] }}.png" width="24" height="24"></td>
      <td>{{ coin[0] }}</td>
      <td>{{ coin[1] }}</td>
      <td>{{ coin[2] }}</td>
      <td>{{ coin[3] }}</td>
      <td>{{ coin[4] }}</td>
    </tr>          
  {% endfor %}
<tr>
  <td colspan="2">Итого</td>
  <td></td>
  <td>{{ total['USD'] }}</td>
  <td>{{ total['RUB'] }}</td>
  <td>{{ total['BTC'] }}</td>
</tr>
</table>
</body>
</html>



