<!DOCTYPE HTML>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Crypto market prices</title>
  	  <style type="text/css">
        html, body {
        background: grey;
        margin: 0px;
        padding: 0px;
        border: 0px;
        }
        iframe {
          margin: 0px;
          padding: 0px;
          border: 0px;
        }
      </style>
 	</head>
 	<body>
    <iframe 
        id="main" 
        src="main.html" 
        position="fixed" 
        frameborder="0" 
        align="left" 
        width="70%" 
        height="640"
        style="background: #221C29">
    </iframe>
    <iframe 
        id="balance" 
        src="balance.html" 
        frameborder="0" 
        width="30%" 
        height="458"
        style="background: grey">
    </iframe><br>
    <iframe 
        id="log" 
        src="log.html" 
        align="left" 
        frameborder="0" 
        width="70%" 
        height="360"
        style="background: black">
    </iframe> 
    <iframe 
        id="market" 
        src="market.html" 
        frameborder="0" 
        width="30%" 
        height="360"
        style="background: grey">
    </iframe>    
    <iframe 
        id="dt" 
        src="dt.html" 
        frameborder="0" 
        width="30%" 
        height="170"
        style="background: #221C29">
    </iframe>
 	</body>
</html>