<!DOCTYPE HTML>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Crypto market prices</title>
  	  <style type="text/css">
        html, body {
        background: grey;
        margin: 0px;
        padding: 0px;
        border: 0px;
        }
        iframe {
          margin: 0px;
          padding: 0px;
          border: 0px;
        }
        #main {
            background: #221C29;
        }
      </style>
 	</head>
 	<body>
    <iframe 
        id="main" 
        src="main.html" 
        position="fixed"  
        align="left"
        height="500px";
        width="60%">
    </iframe>
    <iframe 
        id="market" 
        src="market.html"
        height="390px";
        width="40%">
    </iframe>
    <iframe 
        id="balance" 
        src="balance.html"
        height="460px";
        width="40%"
        align="right">
    </iframe>
    <iframe 
        id="log" 
        src="log.html" 
        align="left"
        height="475px";
        width="60%"
        style="background: black">
    </iframe>     
    <iframe 
        id="dt" 
        src="dt.html" 
        style="background: #221C29"
        height="120px";
        width="40%"
        align="right">
    </iframe>
 	</body>
</html>