<!DOCTYPE HTML>
<html>
 <head>
  	<meta charset="utf-8">
  	<title>Main stats</title>
  	<style type="text/css">
        div {text-align: left;
        	padding: 45px;
        	color: white;     	
        }
    </style>
 </head>
 <body>
 	  <div id="main">
    	<h2>CURRENT COIN: <span style="color: green;">{{ stat['coin'] }} </span></h2>
   	 	<h2>CURRENT PROCESS: <span style="color: green;">{{ stat['process_name'] }} </span></h2>
   	 	<h2>STATUS: {{ stat['status'] }}</h2>
    	<h2>HASHRATE: {{ stat5 }}</h2>
    	<h2>POOL: {{ stat6 }}</h2>
      <h2>UPTIME: <span style="color: green;">{{ stat['uptime'] }} </span></h2>
    </div>
 </body>
</html>