<!DOCTYPE HTML>
<html>
 <head>
  	<meta charset="utf-8">
  	<title>Main stats</title>
  	<style type="text/css">
        div {text-align: left;
        	padding: 45px;
        	color: white;     	
        }
    </style>
 </head>
 <body>
 	  <div id="main">
      	<h2>MINING: 
          <img src="/static/img/{{ stat['coin'][:3] }}.png" width="28" height="28">
          <span style="color: green;">{{ stat['coin'] }} </span></h2>
       	<h2>UPTIME: <span style="color: green;">{{ stat['uptime'] }} </span></h2>
       	<h2>HASHRATE: <span style="color: green;">{{ stat['hashrate'] }} </span></h2>
      	<h2>UNPAID BALANCE: <span style="color: green;">{{ stat['unpaid'] }} </span></h2>
      	<h2>UNCONFIRMED BALANCE: <span style="color: green;">{{ stat['unconfirmed'] }} </span></h2>
    </div>
 </body>
</html>