<!DOCTYPE HTML>
<html>
 <head>
  	<meta charset="utf-8">
  	<title>Main stats</title>
  	<style type="text/css">
        div {text-align: left;
        	padding: 100px;
        	color: white;     	
        }
    </style>
 </head>
 <body>
 	<div id="main">
    	<h2>Currently maining coin is {{ coin }}</h2>
    	<h2>Current algorithm {{ algo }}</h2>
   	 	<h2>Current process {{ pid }}</h2>
   	 	<h2>Current status {{ status }}</h2>
    	<h2>Stat 5 {{ stat5 }}</h2>
    	<h2>Stat 6 {{ stat6 }}</h2>
    </div>
 </body>
</html>